@page
@model SynthesisAssignment.Pages.Shared.PlayersModel
@{
    
}

<link rel="stylesheet" href="/css/players.css" />

<header>
    <ul>
        <li><a asp-area="" asp-page="/Tournaments">Tournaments</a></li>
        <li><a asp-area="" asp-page="/Profile">Profile</a></li>
        <li><a asp-area="" asp-page="/Players">Players</a></li>
        <li><a asp-area="" asp-page="/Schedules">Tournament Schedules</a></li>
    </ul>
</header>

<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Games Won</th>
            <th>Games Lost</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var a in Model.Players)
        {
            @if (a.Rank == "A")
            {

                <tr class="active-row">
                    <td>@a.Name</td>
                    <td>@a.Rank</td>
                    <td>@a.GamesWon</td>
                    <td>@a.GamesLost</td>
                    </tr> 
             }
            else
              {
                <tr>
                    <td>@a.Name</td>
                    <td>@a.Rank</td>
                    <td>@a.GamesWon</td>
                    <td>@a.GamesLost</td>
                </tr>
             }
        }
        
    </tbody>
</table>

